* {
  margin: 0;
  padding: 0;
}
.navbar-brabd {
  width: 100%;
  height: 6vh;
  display: block;
  background-color: aqua;
  box-shadow: 1px solid red;
}
ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
a {
  color: #fff;
  text-decoration: none;
  margin: 25px;
}
